<main role="main">
  <%= render partial: 'jumbo' %>
  <%= render partial: 'when_where' %>
  <%= render partial: 'our_story' %>
  <%= render partial: 'photos' %>
  <%= render partial: 'registry' %>
</main>
<%= render partial: 'footer' %>
